<div style="width: 40%; margin: 0 auto">
  <div class="card">
    <form>
      <div class="card-header card-header-icon" data-background-color="rose">
        <i class="material-icons">mail_outline</i>
      </div>
      <div class="card-content">
        <h4 class="card-title">Change Password</h4>
        <mat-form-field>
          <input matInput type="password"placeholder="Old Password"name="oldpass"[(ngModel)]=oldpass>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="password" placeholder="Password"name="pass1"[(ngModel)]=pass1>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="password"  placeholder="Confirm Password"name="pass2"[(ngModel)]=pass2>
        </mat-form-field>
        <div class="category form-category">
          <span class="star">*</span> Required fields</div>
        <div class="form-footer text-right">
          <div class="form-group">
            <button type="submit" class="btn btn-rose btn-fill btn-wd"(click)="editClick(oldpass,pass1,pass2)">Submit</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>