<div class="terms-container-wrapper">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="terms-condition-wrapper container">
          <h1>4 Clever Hacks: Save Big On Energy Usage</h1>
            <hr>
            <h2> Introduction </h2>
            <!-- <h3>This Terms of Service Agreement (“TOS”) is a legal agreement between you and ChoiceGenie (“ChoiceGenie” or “us”), and governs how you may use our website (“Site”) and the ChoiceGenie Service defined in Section 1. When you utilize our Service, you are confirming your understanding of and agreeing with these Terms and the license granted herein.  By visiting or using the Site in any way, you agree to accept notices of any kind from ChoiceGenie in electronic form.  Notices from ChoiceGenie intended for your receipt shall be deemed delivered and effective when sent by email to any email address you provide to us.  Any rights not expressly granted herein are reserved by ChoiceGenie.
            </h3>

            <h3>For all questions about how we use the information we obtain through your use of the Site and Services, please review our Privacy Policy. By using the Site and Service, you agree to also be bound to the Privacy Policy.
            </h3>
            <h2>Service Description</h2> -->
            <p>
              The  thick  heat  of  summer  is  the  beginning  of  a  series  of  very  heavy electricity bills.</p>
        <p>Hadn’t  you  have  to  kick  on  the  air  conditioning  a  few  times  already? Thought so!</p>
        <p>Did  you  know,  a  central  air  conditioning  unit  uses about  of  3k  watts  of energy,  whereas  the  average  ceiling  fan  uses  60  watts!  –  that  too  when running on high.</p>
        <p>If you run down your ceiling fan rather than AC, you will save a lot of money over the course of time.</p>
        <p>ChoiceGenies has compiled some tactics to try in order to decrease your energy usage and increase savings, high time!</p>
        <!-- <p> ChoiceGenie only displays the information that REPs provide in a manner that assists our users to choose among them, and is not responsible for any inaccuracies in the information we display. ChoiceGenie does not warrant that service descriptions, pricing, or any other content of the Site, regardless of its source, is accurate, complete, reliable, current, or error-free.  Site content is provided for informational purposes only and does not constitute an endorsement by ChoiceGenie of any REP.  ChoiceGenie assumes no liability for inaccuracy or incompleteness in its search results, or other content on the Site.</p>
              <p>If you elect to establish service with a REP via our Site, you do so under the specific terms offered by such REP, so you must also agree to and understand those terms. Your interaction with any REP accessed through this Site is at your own risk and ChoiceGenie does not have any responsibility for the quality of the services you receive from any such REP.
            </p> -->
            <h2>Save  Money  Hack  #  1:  Adjust  Ceiling  Fan  to Counter-Clockwise in Summers</h2>
            <p>Adjust the direction of the ceiling fan in counter-clockwise.
            </p>
      
        <p>Make sure the air blows down in summer.</p>
        <p>According to the appropriateness of the seasons, most fans can be set for clockwise and counterclockwise.</p>
             <p>If you are confused as to which direction to use and when to use, there is an easy way to get out of this uncertainty!</p>
             <p>Standing beneath a fan, if you feel breeze immediately, know that it is set on the counter-clockwise.</p>
             <p>By the way, counterclockwise is set on most models.</p>
            

            <h2>Save Money Hack # 2: Adjust Ceiling Fan to Clockwise in Winters</h2>
        <p>To  circulate  warm  air  through  the  room,  run  the  fan  –  on  low  –  in  the clockwise direction in the winters.</p>
             <p>To set it on clockwise, flip the switch or push the button near the base of the fan.<p>
        <p>When blades run in this direction, the air will be pulled up in the center of the room and pushed down near the edges.
            </p>
            <p>The  mechanism  forces  warm  air and cool air to mix in the room, keeping the room at a steadier temperature.</p>
            <h2>Save  Money  Hack  #  3:  Set  Temperature  Higher  in Summers</h2>
        <p>Raise the temperature on your thermostat only by a few degrees.Do not let the ceiling fan bear all the burden.</p>
        <p>The task of a ceiling fan is to circulate the cool air better, not to directly cool it per se.</p>
        <p>It  is  the  breeze  effect  making  the  room  felt  cooler  than  it  actually  is  –</p>
        <p>Thanks to the Breeze Effect!</p>
        <h2>Save Money Hack # 4: Not at home? Turn Off the Ceiling Fan</h2>
          <p>Bring in a programmable thermostat!</p>
        <p>Set  the  air  conditioning  unit  to  turn  off  and  on  based  on  when  you  are home.</p>
          <p>Trust us when we say, it will lead to big savings!</p>  
          <p>Unfortunately  though,  ceiling  fans  –  most  of  them  – do not offer this, be sure to turn it off before leaving home.</p>
        <h2>Final Words</h2>

              <p>You might discard it as an unnecessary now, room lighting matters!</p>
              <p>Install the fan in a room with perfect lighting.
              </p>
              <p>When in doubt, get the light assembly now.</p>
              <p>It will save you consternation and money over the long haul.</p>
              
      </div>
    </div>
  </div>
</div>

