<div class="terms-container-wrapper">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="terms-condition-wrapper container">
          <h1>12 Easy Hacks: For Next Power Outage – Continued</h1>
            <hr>
            <h2> Introduction </h2>
            <!-- <h3>This Terms of Service Agreement (“TOS”) is a legal agreement between you and ChoiceGenie (“ChoiceGenie” or “us”), and governs how you may use our website (“Site”) and the ChoiceGenie Service defined in Section 1. When you utilize our Service, you are confirming your understanding of and agreeing with these Terms and the license granted herein.  By visiting or using the Site in any way, you agree to accept notices of any kind from ChoiceGenie in electronic form.  Notices from ChoiceGenie intended for your receipt shall be deemed delivered and effective when sent by email to any email address you provide to us.  Any rights not expressly granted herein are reserved by ChoiceGenie.
            </h3>

            <h3>For all questions about how we use the information we obtain through your use of the Site and Services, please review our Privacy Policy. By using the Site and Service, you agree to also be bound to the Privacy Policy.
            </h3>
            <h2>Service Description</h2> -->
            <p>
              No power yet again? ChoiceGenie has your covered you as promised!</p>
        <p>Let’s continue to our no-blackout tricks.</p>
        <!-- <p> ChoiceGenie only displays the information that REPs provide in a manner that assists our users to choose among them, and is not responsible for any inaccuracies in the information we display. ChoiceGenie does not warrant that service descriptions, pricing, or any other content of the Site, regardless of its source, is accurate, complete, reliable, current, or error-free.  Site content is provided for informational purposes only and does not constitute an endorsement by ChoiceGenie of any REP.  ChoiceGenie assumes no liability for inaccuracy or incompleteness in its search results, or other content on the Site.</p>
              <p>If you elect to establish service with a REP via our Site, you do so under the specific terms offered by such REP, so you must also agree to and understand those terms. Your interaction with any REP accessed through this Site is at your own risk and ChoiceGenie does not have any responsibility for the quality of the services you receive from any such REP.
            </p> -->
            <h2>Blackout Solution # 7: Rocket Stove</h2>
            <p>What if we told you, it’s easy to build a rocket stove?
            </p>
      
        <p>It is as simple as the name suggests!</p>
        <p>Requirements:</p>
             <p>(1) Soup cans.</p>
             <p>(2) Tin snips.</p>
             <p>(3) A bag of vermiculite.</p>
             <p>Confused     as    to    how?    Here    is    your    step-by-step    guide:</p>
            <a href="https://www.youtube.com/watch?v=P6ValmUnjz4"><b>https://www.youtube.com/watch?v=P6ValmUnjz4</b></a>

            <h2>Blackout Solution # 8: Trap in Heat, NOW!</h2>
        <p>What  is  the  simple  but  also  an  effective  way  to  trap  in  heat  and keep the house heated?</p>
             <p>Draft Stoppers!<p>
        <p>You have to plan a shopping!
            </p>
            <p>Or not!</p>
            <p>Simply roll up towels and tuck them under the doors.Not enough probably, how about along the windowsills too?DIY this idea!</p>
            <h2>Blackout Solution # 9: Second Use of Solar Lights? No Kidding!</h2>
        <p>Did  you  know,  the  same solar  lights  that  light  your  yard  can  be  pulled inside for use?</p>
        <p>Yes, it can be when the power goes out! – Obviously!</p>
        <p>But, do not forget to recharge them by the windows during the daytime.</p>
        
        <h2>Blackout Solution # 10: No Water? Use SNOW!</h2>
          <p>Use your backyard snow as a water source.According  to  a  source,  freshly  melted  snow  is  generally  considered  to  besafe ... without further treatment.</p>
        <p>Just to be on the safe side,  it is best to boil the water from melted snow forabout  10  minutes  –  if  not  more  –    to  kill  any  micro-organisms  and  germsthat may exist.</p>
          <p>Still reluctant? We don’t blame you!</p>  
          <p>How about using melted pots or buckets of snow to flush the toilet only?</p>
          <p>For the ease of mind, do that instead!</p>
        <h2>Blackout Solution # 11: AAA Batteries or AA Batteries?</h2>

              <p>Convert AAA batteries to AA batteries easily.</p>
              <p>You ask, all out of AA? Sure!
              </p>
              <p>To fill the gap though, use a strip of aluminum foil.</p>
              <h2>Blackout Solution # 12: Indoor Family Camping</h2>
              <p>There  is  a  new  tradition  surfacing:  Families  taking  the  ‘family  camping’ indoor.</p>
              <p>Staying warm into a fun family activity!</p>
              <p>How To Do:</p>
              <p>(1) Pitch a tent in the living room</p>
              <p>(2) Grab pillows and blankets</p>
              <p>ChoiceGenie assures you will enjoy the extra warmth.</p>

      </div>
    </div>
  </div>
</div>

